.nav-bar {
    display: flex;
    min-height: 10vh;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.logo {
    font-size: 1.5rem;
    color: rgb(105, 100, 100);
    font-weight: lighter;

}

.btn {

    button {
        background: transparent;
        border: 2px solid rgb(65,65,65);
        cursor: pointer;
        padding: 0.5rem;
        transition: all 0.3s ease;
        &:hover {
            background: rgb(65,65,65);
            color: white;
        }
    }
}

.btn {
    position: relative;
    z-index: 2;
}
.searchBar{
    position: relative;
    input{
        padding: 0.5rem;
        border: 2px solid rgb(65, 65, 65);
        width: 250px;
        transition: all 0.3s ease;
    }
}
.results{
    position: absolute;
    top: 100%;
    width: 100%;
    height: fit-content;
    max-height: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;

    }
    li{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0.5rem;
        gap: 0.5rem;
        transition: all .3s ease;
        &:hover{
            background: rgb(225, 225, 225);
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        button {
            z-index: 10;
        }
    }
    
}